<div class="container" id="projects">
  <h1>- Projects -</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= link_to 'http://www.jammer.rocks/', target: :_blank do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/wagon/image/upload/v1542891739/vuab5xxyqd4qzcsqvjdp.jpg');">
        <div class="card-description">
          <h2>Jammer</h2>
          <p>Connecting Musicians</p>
        </div>
      </div>
      <% end %>
      <div class="code">
        <%= link_to 'https://github.com/joshbolland/jammer', target: :_blank do %>
        <button type="button" class="btn btn-secondary source-code"><i class="fab fa-github"></i> Source Code</button>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to 'https://musessions.herokuapp.com', target: :_blank do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dohcbj8ua/image/upload/v1544350590/background2.jpg');">
        <div class="card-description">
          <h2>Musessions</h2>
          <p>Find and Hire Session Musicians</p>
        </div>
      </div>
      <% end %>
      <div class="code">
        <%= link_to 'https://github.com/joshbolland/musessions', target: :_blank do %>
        <button type="button" class="btn btn-secondary source-code"><i class="fab fa-github"></i> Source Code</button>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to 'https://mister-josh-cocktail-bolland.herokuapp.com/', target: :_blank do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dohcbj8ua/image/upload/v1544350753/Webp.net-compress-image_2.jpg');">
        <div class="card-description">
          <h2>The Cocktailor</h2>
          <p>Cocktail Recipes at your Fingertips</p>
        </div>
      </div>
      <% end %>
      <div class="code">
        <%= link_to 'https://github.com/joshbolland/rails-mister-cocktail', target: :_blank do %>
        <button type="button" class="btn btn-secondary source-code"><i class="fab fa-github"></i> Source Code</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
