<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'banner.jpg' %>) ;">
  <div class="container">
    <%= image_tag('josh.jpg', class: "avatar")%>
    <h1>Josh Bolland</h1>
    <p>
  <span id="banner-typed-text"></span>
</p>
    <%= render 'social' %>
    <%= render 'links' %>
    <div class="download">
      <%= link_to 'View Resumé', 'https://goo.gl/9RpuxZ', class: "btn-dwn", target: "_blank" %>
    </div>
  </div>
</div>
<%= render 'about' %>
<%= render 'projects' %>

<script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();
      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth'
      });
    });
  });
</script>
