<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag %>
    <title>Josh Bolland | Full Stack Developer</title>
    <meta name="description" content="Josh Bolland | Full Stack Developer">

    <meta property="og:title" content="Josh Bolland | Full Stack Developer">
    <meta property="og:image" content="josh.jpg">
    <meta property="og:description" content="Josh Bolland | I'm a Full Stack Web Developer looking for exciting job opportunities!">
    <meta property="og:site_name" content="Josh Bolland Full Stack Developer"/>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
